<p><i class="fa fa-gitlab fa-lg fa-fw"></i> <a href="https://gitlab.com/karim.kimsanbaev" target="_blank">@karim.kimsanbaev</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/karim-kimsanbaev-013851203/" target="_blank">linkedin.com/in/karim-kimsanbaev</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:karim.kimsanbaev@gmail.com" target="_blank">karim.kimsanbaev@gmail.com</a></p>
<p><i class="fa fa-mobile fa-lg fa-fw"></i> <a href="tel:6043561462" target="_blank">+7 (981) 780-88-67</a></p>
